@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background: linear-gradient(to top left, #ffffff, #ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5; 
    z-index: 2;
}
.singup-header h1{
    font-size: 2.5rem;
    color: #212121;
}
.singup-header p{
    font-size: 0.9rem;
    color: #555;
}
.singup-body {
    margin: 20px 0px
}
.singup-body p{
    margin: 10px 0;
}
.singup-body p label{
    display: block;
    font-weight: bold;
}
.singup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.singup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}
.singup-body p input[type="submit"]:hover{
    background-color: #2773a5;
}
.singup-footer p{
    color: #555;
    text-align: center;
}
.singup-footer p a{
    color: #2773a5;;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffffaa, #ffffff );
    position: absolute;
}
.c1{
    top: 100px;
    left: 40px;
}
.c2{
    bottom: 100px;
    right: 40px;
}